*{
  box-sizing: border-box;
}
.menu {
  float: left;
  width: 20%;
  text-align: center;
}
.menu a {
  background-color: #A10000;
  padding: 15px;
  margin-top: 7px;
  display: block;
  width: 100%;
  color: rgba(0, 0, 0, 0.699);
}
.main {
  float: left;
  width: 80%;
  padding: 0 20px;
}
.right {
  background-color: #E5E5E5;
  float: left;
  width: 20%;
  padding: 15px;
  margin-top: 7px;
  text-align: center;
}
a {
  text-decoration: none;
}
@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .menu,
  .main,
  .right {
      width: 100%;
  }
}


body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}
input[type=text],input[type=email],input[type=password], select, textarea {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

label{
  margin-top: 50px;
}


input[type=submit] {
  background-color: black;
  color:  skyblue;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color:    gray;
}


.container {
  border-radius: 10px;
  background-color:  skyblue;
  padding: 20px;
  margin:auto;
}


label {
  margin: 2px 5px;
  padding-bottom: 10px;
  display:flex;
}

.register{
  padding:5px;
  margin:5px;

}

.form {
    text-align: center;
    margin:auto;
    display:flexbox;
    align-items: center;
    /* border: 3px solid green; */
  }

  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

  login {
    padding: 5px;
    margin: 10px;
  }