/* <style> */
/* h1,h2{
     font-family: Georgia, 'Times New Roman', Times, serif; 
    color:aqua rgb (0,255,255);
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blue rgb(0,255,255);

} */


/* </style> */


h1,
h3 {
  font-family: "Courier New", Courier, monospace;
  color: rgb(0, 8, 255);
}
p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #00ff00;
  font-size: xx-large;
}
.main-heading{
  color: violet;
}
#h3-heading{
  background-color: aquamarine;
}
a{
  font-size: xx-large;
}